### SQLite = > DBMS
* DBMS 는 mysql, Oracle, ms-sql
* python으로 다룰려고 SQLite
* sqlite3 모듈을 사용
* DBMS를 사용할 수 있게 기본적으로 제공함.
* [https://sqlitebrowser.org/dl/]

In [2]:
import sqlite3
sqlite3.version

'2.6.0'

In [42]:
# connect // 데이터베이스 생성 함수
conm = sqlite3.connect("C:\\Users\\Administrator\\Jupyter_noteBook\\studyDB\\ptest.db") # 경로 설정 및 파일 생성
type(conm) # 타입 출력

sqlite3.Connection

In [44]:
cursor = conm.cursor() # 데이터 베이스 sql구문을 사용하기 위해 작성
# CREATE TABLE 테이블명(컬럼이름1 데이터타입, 컬럼이름2 데이터타입, 컬럼이름3 데이터타입, 컬럼이름4 데이터타입, ...) : 테이블 작성
# student (std) : 이름, 나이, 성적
# CREATE TABLE Student(std)(
# 이름 text VARCHAR(10), 
# 나이 int VARCHAR(3),  
# 성적 text VARCHAR(2));
# 파이썬 : None , sql : NULL
# 파이썬 : int , sql : integer
# 파이썬 : str , sql : text
# 파이썬 : float , sql : real
cursor.execute("CREATE TABLE std(이름 text VARCHAR(10), 나이 int VARCHAR(10), 성적 text VARCHAR(10))")

## DDL(Data Definition Language)
* 데이터 정의어란? 데이터베이스를 정의하는 언어이며, 데이터를 생성, 수정, 삭제하는 등의 데이터의 전체의 골격을 결정하는 역할을 하는 언어이다.
    * create : 데이터베이스, 테이블등을 생성
    * alter : 테이블을 수정
    * drop : 데이터베이스, 테이블을 삭제
    * truncate : 테이블을 초기화
* SCHEMA, DOMAIN, TABLE, VIEW, INDEX를 정의하거나 변경 또는 삭제할 때 사용하는 언어
* 데이터 베이스 관리자나 데이터베이스 설계자가 사용

## DML(Data Manipulation Language)
* 데이터 조작어란? 정의된 데이터베이스에 입력된 레코드를 조회하거나 수정하거나 삭제하는 등의 역할을 하는 언어.
    * select : 데이터 조회
    * insert : 데이터 삽입
    * update : 데이터 수정
    * delete : 데이터 삭제
* 데이터베이스 사용자가 응용 프로그램이나 질의어를 통하여 저장된 데이터를 실질적으로 처리하는데 사용하는 언어
* 데이터베이스 사용자와 데이터베이스 관리 시스템 간의 인터페이스를 제공

## DCL(Data Control Language)
* 데이터베이스에 접근하거나 객체에 권한을 주는등의 역할을 하는 언어
    * grant : 특정 데이터베이스 사용자에게 특정 작업에 대한 수행 권한을 부여
    * revoke : 특정 데이터베이스 사용자에게 특정 작업에 대한 수행 권한을 박탈, 회수
    * commit : 트랜잭션의 작업을 저장
    * rollback : 트랜잭션의 작업을 취소, 원래대로 복구
* ROLL 객체
* ROLE 종류
    * CONNECT : DB 접속 권한
    * RESOURCE : 테이블이라든지 인덱스라든지 생성할 수 있는 권한
    * CREATE VIEW : 뷰 생성 권한
    * DBA : 모든 권한(관리자)

```sql
-- 데이터 삽입하기
insert into 테이블이름 values('박하선', 30, 'A');
insert into 테이블이름 set 이름 = '박하선', 나이 = 30, 성적 = 'A';
-- 데이터 테이블 삭제하기
drop table 테이블이름
drop table if exists 테이블이름 -- 존재하면 삭제함.
```

In [26]:
cursor.execute("INSERT INTO std VALUES('박하선', 30, 'A')")

In [27]:
conm.commit() # 트랜잭션의 작업을 저장

In [28]:
# DB 내용 삽입하기
cursor.execute("INSERT INTO std VALUES('전우성', 31, 'D')") 
cursor.execute("INSERT INTO std VALUES('전지성', 33, 'B')")
cursor.execute("INSERT INTO std VALUES('전혜림', 32, 'C')")

In [29]:
conm.commit()

In [34]:
cursor.execute("DELETE FROM std WHERE 이름 = '전혜림'") # 테이블의 데이터인 이름이 '전혜림' 이라는 조건일때 삭제함.
conm.commit() # 트랜잭션의 작업을 저장

In [37]:
# UPDATE 테이블이름 SET 컬럼명 = '변경값' WHERE 조건
cursor.execute("UPDATE std SET 성적 = 'A' WHERE 이름 = '박하선'") # std 테이블에서 이름이 '박하선' 이면 성적을 'A'로 수정함.
conm.commit()

In [45]:
cursor.execute("SELECT * FROM std WHERE 성적 = 'A'")

In [40]:
conm.close() # 연결된 데이터베이스를 연결을 닫는다.

In [59]:
import sqlite3
sqlite3.version
# connect // 데이터베이스 생성 함수
conm = sqlite3.connect("C:\\Users\\Administrator\\Jupyter_noteBook\\studyDB\\ptest.db") # 경로 설정 및 파일 생성
type(conm) # 타입 출력
cursor = conm.cursor() # 데이터 베이스 sql구문을 사용하기 위해 작성
cursor.execute("SELECT * FROM std")
# fetchall
data1 = cursor.fetchall()
print(data1)
# 튜플 형식으로 리스트로 저장됨.
print(data1[0])
print(data1[0][2])

[('박하선', 30, 'A'), ('전우성', 31, 'D'), ('전지성', 33, 'B')]
('박하선', 30, 'A')
A

In [64]:
print("튜플에서의 출력 방식입니다.")
print("{}은 {}살이며, 성적은 {}이다.".format(data1[1][0], data1[1][1], data1[1][2]))

튜플에서의 출력 방식입니다.
전우성은 31살이며, 성적은 D이다.

In [67]:
for i in range(0, len(data1)):
    print(data1[i])

('박하선', 30, 'A')
('전우성', 31, 'D')
('전지성', 33, 'B')

In [69]:
for i in data1:
    print(i)

('박하선', 30, 'A')
('전우성', 31, 'D')
('전지성', 33, 'B')

In [103]:
cursor.execute("SELECT 이름, 성적 FROM std WHERE 나이 >=31")
data2 = cursor.fetchall()
for i in data2:
    print(i)

('전우성', 'D')
('전지성', 'B')

In [102]:
cursor.execute("SELECT 이름, 나이 FROM std WHERE 이름 LIKE '전%'") # 첫번째 글자로 
data3 = cursor.fetchall()
print(data3)

cursor.execute("SELECT 이름, 나이 FROM std WHERE 이름 LIKE '%우%'") # 가운데 사이로 
data4 = cursor.fetchall()
print(data4)

cursor.execute("SELECT 이름, 성적 FROM std WHERE 이름 LIKE '박__'") # 글자수 지정으로
data5 = cursor.fetchall() # 튜플로 저장함.
for i in data5 :
    print(i)

[('전우성', 31), ('전지성', 33)]
[('전우성', 31)]
('박하선', 'A')

In [105]:
# pandas로 데이터 출력하기
import pandas as pd
cursor.execute("SELECT 이름, 나이 FROM std WHERE 이름 LIKE '전%'") # 첫번째 글자로 
data6 = cursor.fetchall()
# 컬럼명을 가져오는 역할
cols = [column[0] for column in cursor.description]
# 테이터 프레임을 이용하여 출력하기
df = pd.DataFrame.from_records(data=data6, columns=cols)
# 테이터 프레임 출력
df

    이름  나이
0  전우성  31
1  전지성  33