In [1]:
# a,b,c=map(int, input().split(":")) 
# print(b)

In [2]:
# a=input().split(":") # [23, 23, 23]으로 배열로 저장
# print(a[1])

In [3]:
# a,b=input().split()
# c = a+b
# print(c)

## 리스트

In [4]:
# 문제 : 리스트에 순서대로 2, 1, '오', 6, 7를 한번에 담아주세요. 
# 그리고 리스트 안에 있는 '오'를 정수 5로 변경해주세요.
a = [2, 1, '오', 6, 7]
# 리스트.index함수('값' 이 들어 있는 인덱스 번호를 저장함)
s = a.index('오') 
a[s] = 5
print(a)

[2, 1, 5, 6, 7]

In [5]:
# 리스트이름.index(값, 시작인덱스번호, 끝인덱스번호)
# 시작과 끝 사이에 있는 값을 찾아 그 해당 값의 인덱스 번호를 정수로 표현
a = [2, 1, '오', 1, 7]
s = a.index(1, 2, 4)
print(s)

3

In [6]:
# del 함수, remove 함수
# del() , remove() // 리스트의 값 삭제
# del 리스트이름[인덱스번호] 인덱스 번호로 해당 값을 삭제함.
# 리스트이름.remove(값) 해당 값을 삭제함.
a = [2, 1, '오', 1, 7]
del a[2]
print(a)
a.remove(1)
a.remove(1)
print(a)

[2, 1, 1, 7]
[2, 7]

In [7]:
# 문제 : 리스트에 순서대로 2, 1, '오', 6, 7를 한번에 담아주세요. 
# 그리고 리스트 안에 있는 '오'를 제거해주세요.
li = [2, 1, '오', 6, 7]
print("li 리스트 :",li)
del li[2] # 인덱스 2번째 값 삭제
print("인덱스 2번째 값 삭제 :",li)
li.insert(2,'오') # 해당 값을  추가
print("li 리스트 :", li)
li.remove('오') # '오' 값을 삭제
print("인덱스 2번째 값 삭제 :",li)

li 리스트 : [2, 1, '오', 6, 7]
인덱스 2번째 값 삭제 : [2, 1, 6, 7]
li 리스트 : [2, 1, '오', 6, 7]
인덱스 2번째 값 삭제 : [2, 1, 6, 7]

In [8]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# '화'가 리스트 안에서 몇 번째 데이터 인지 알려주세요.
li = ['월', '화', '수', '목', '금']
s = li.index('화')
print(s)

1

In [9]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# '화'가 리스트 안에 들어있는지 알려주세요.
# in 연산자 True, False
# not in 연산자 True, False
li = ['월', '화', '수', '목', '금']
print('화' in li)
li = li+['토','일']
print('토' not in li)

if '화' in li:
    print("있다.")
else :
    print("없다.")

True
False
있다.

In [10]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
#'화'가 리스트 안에 있는지 if문으로 체크 후, 있다면 삭제해주세요.
li = ['월', '화', '수', '목', '금']
def ex1():
    if '화' in li:
        li.remove('화')
        print(li)
    else:
        print(li)
ex1()
# 문제2 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
#'토'가 리스트 안에 있는지 if문으로 체크 후, 있다면 삭제해주세요.
li.insert(1, '화')
def ex2():
    if '토' not in li:
        li.append('토')
        li.remove('토')
        print(li)
    else:
        del li[5]
        print(li)
ex2()

['월', '수', '목', '금']
['월', '화', '수', '목', '금']

In [11]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 리스트에 있는 '금'을 삭제하는 3가지 방법을 보여주세요.
li = ['월', '화', '수', '목', '금']
s = li.index('금')
del li[s] # 삭제
print(li)
li.append('금')
li.remove('금') # 삭제
print(li)
li.append('금')
# if문으로 판단 하기
if ('금' in li) == True :
    li.remove('금')
    print(li)
else : 
    print(li)

['월', '화', '수', '목']
['월', '화', '수', '목']
['월', '화', '수', '목']

In [13]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 리스트에 있는 '금'을 안전하게 삭제하는 2가지 방법을 보여주세요.
li = ['월', '화', '수', '목', '금']
if '금' in li :
    del li[li.index('금')]
    print(li)
elif '금' not in li:
    li.appand('금')
    print(li)
else :
    del li[li.index('금')]
    # li.remove('금')
    print(li)

['월', '화', '수', '목']

In [17]:
a=[2,4,5,8,7,9,1]
a.sort() # 오름차순으로 정렬
print(a)
a.sort(reverse=True)
a.reverse() # 역순으로 정렬함
print(a)

[1, 2, 4, 5, 7, 8, 9]
[1, 2, 4, 5, 7, 8, 9]

In [31]:
# 문제 : 1부터, 10까지 리스트로 묶어주세요
# 조건 : 정답을 여러가지 버전으로 만들어주세요.

def sol_v1():
    print("== 담기 ==")
    # 구현
    a = [1,2,3,4,5,6,7,8,9,10]            
    print("== 출력 ==")
    # 구현
    print(a)
def sol_v2():
    print("== 담기 ==")
    # 구현
    a = []
    i = 1
    while i<=10:
        a.append(i)
        i+=1
    print("== 출력 ==")
    # 구현
    print(a)
def sol_v3():
    print("== 담기 ==")
    # 구현
    a = []
    i = 0
    j = 1
    
    print("== 출력 ==")
    # 구현
    print(a)
print("== 정답 v1 ==")
sol_v1()
print("== 정답 v2 ==")
sol_v2()
print("== 정답 v3 ==")
sol_v3()

== 정답 v1 ==
== 담기 ==
== 출력 ==
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
== 정답 v2 ==
== 담기 ==
== 출력 ==
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
== 정답 v3 ==
== 담기 ==
== 출력 ==
[]

In [32]:
menu = input('''
여행을 간다면 어디로 가고 싶으신가요?
번호를 입력해주세요.
1. 서울 2. 부산 3. 대전 4. 제주도
''')
print("여행을 간다면 "+ menu+"로 가고 싶습니다.")

여행을 간다면 어디로 가고 싶으신가요?
번호를 입력해주세요.
1. 서울 2. 부산 3. 대전 4. 제주도
1
1