## 정수 타입, 문자열 타입 출력

In [1]:
a = 10
b = 20
print("홍길동"+"입니다.")
print(a+b)

홍길동입니다.
30

In [2]:
c = '2'
d = '1'
print(c+d) # 문자열 타입으로 출력
print(int(c)+int(d)) # 정수형으로 출력
print(str(a)+str(b)) # 문자열 타입으로 출력

21
3
1020

In [3]:
a = '3' # 문자열 타입
b = '6' # 문자열 타입

print(a + b) # 문자로 출력
print(int(a)+int(b)) # 정수로 출력
# 출력 9

36
9

In [4]:
a = '3.1'
b = '6.1'

print(a + b)
print(float(a)+float(b))
# 출력 9.2

3.16.1
9.2

In [5]:
a = '3.1'
b = '6.1'
c = int(float(a)+float(b))
print(c)
# 출력 9
a = 6
c = "charector"
b = 3.2432
print("%d%s%%\\" %(a, c))
print("{:.2f}".format(b))
print("{}".format(a))
print(round(b,4))
# import math
# print(math.trunc(b))

# 출력 6%

9
6charector%\
3.24
6
3.2432

지역 함수 : 해당 함수 내에서 선언한 변수들  
전역 함수 : 모든 함수가 사용가능.

In [6]:
a = 10 # 전역 변수
b = 20
def test(num):
    global a # 전역 변수로 바꿔줌
    a = num # 지역 변수
test(50)
print(a+b)

70

In [7]:
# 문제 : 마지막줄 a의 출력값은 무엇일지 실행시키기 전에 작성해보세요
a = 10 # 전역 변수
def test() :
    a = 5
def change1(num) :
    a = num
change1(100)
print(a) # 출력 10

10

리스트 (List) = > 여러 건의 데이터를 하나의 목록에 작성하는 것  
리스트이름 = [값1, 값2, 값3....]  
li = [1, 2, 3, 4, 5]
* append() : 리스트에 새로운 데이터를 추가 하기 (리스트의 맨 뒤에 들어감)  
* 리스트이름.append(추가할 요소)  
* insert() : 원하는 위치에 데이터를 추가
* insert(인덱스번호, 값)

In [8]:
# 문제 : 리스트에 순서대로 2, 1, 5, 6, 7를 한번에 담아주세요.

li = [2, 1, 5, 6, 7]
print(li)

[2, 1, 5, 6, 7]

In [9]:
# 문제 : 비어있는 리스트를 만들고, 순서대로 2, 1, 5, 6, 7를 하나씩 담아주세요.

li = []
li.append(2)
li.append(1)
li.append(5)
li.append(6)
li.append(7)
print(li)

[2, 1, 5, 6, 7]

In [4]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 그리고 '토', '일' 을 순서대로 추가해주세요.
a = ['월', '화', '수', '목', '금']

a.append('토')
a.append('일')
print(a)

['월', '화', '수', '목', '금', '토', '일']

In [5]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 그리고 '토', '일' 을 담은 리스트를 만들고 2개의 리스트 합쳐서 새로운 리스트를 만들어주세요.
li = ['월', '화', '수', '목', '금']
a = []
a.insert(0,'토')
a.append('일')
a = li + a # 리스트도 합칠 수 있다.
print(a)

['월', '화', '수', '목', '금', '토', '일']

In [7]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 그리고 '+=' 연산자를 이용해서 '토', '일' 을 한번에 추가해주세요.
# 리스트변수 하나만 만들고, append와 insert 사용 금지
li = ['월', '화', '수', '목', '금']
li += ['토', '일'] # 복합연산자 +=를 이용하여 연산하기
print(li)

['월', '화', '수', '목', '금', '토', '일']

In [9]:
print(a[0])
b = a[:1] + a[1:3] # 파이썬 리스트 요소 슬라이스
print(b)

월
['월', '화', '수']

In [14]:
li = []
for i in range(1,10):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 그리고 가장 처음 요소를 출력해주세요.
li = ['월', '화', '수', '목', '금']
print(li[0])

월

In [16]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 그리고 가장 마지막 요소를 출력해주세요.
li = ['월', '화', '수', '목', '금']
print(li[4])

금

In [17]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 그리고 가장 마지막에서 2번째 요소를 출력해주세요.
li = ['월', '화', '수', '목', '금']
print(li[3])

목

In [20]:
a = [1,2]
a.append([1,2]) # 한 리스트로 넣어줌.
print(a)
a.extend([1,2]) # 해당 리스트의 값을 하나씩 넣어줌.
print(a)

[1, 2, [1, 2]]
[1, 2, [1, 2], 1, 2]

len() : 리스트의 길이를 숫자로 표현  
len(리스트변수)로 쓰임

In [24]:
li = ['월', '화', '수', '목', '금']
a = len(li)
print(a)
print(li[a-2])
print(li[-2])

5
목
목

In [42]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 그리고 while문을 이용해서 요소 전부 출력해주세요.
li = ['월', '화', '수', '목', '금']
i = 0
j = len(li)
while i < j :
    print(li[i], end=' ')
    i+=1

월 화 수 목 금

In [57]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 그리고 while문을 이용해서 요소 전부 출력해주세요. 역순으로 출력
li = ['월', '화', '수', '목', '금']
i = len(li) - 1
j = 0 
while i >= j:
    print(li[i])
    i-=1

금
목
수
화
월

In [60]:
j = 1 # 초기값
l = len(li)
while j<=l: # 1 <= 5
    print(li[l-j]) # j가 증가 함에 따라 순차적으로 역순이 가능
    j+=1

금
목
수
화
월